<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="Redirect to http" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
              <match url="*" negate="false" />
              <conditions logicalGrouping="MatchAny">
                <add input="{HTTP}" pattern="off" />
              </conditions>
              <action type="Redirect" url="http://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
            </rule>
            <rule name="Main Rule" stopProcessing="true">
              <match url=".*" />
              <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              </conditions>
              <action type="Rewrite" url="/" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>
