<div class="grid" ngClass="{{stage.sceneName() | lowercase }}">
  <div class="controls" *ngIf="grid.supportedPulses.length > 1">
    <div class="pulses" *ngFor="let i of beat.counts()"
         [class.selected]="player.isSelected(i)">
      <div class="hint" *ngFor="let j of grid.supportedPulses"
           [class.set]="player.isPulses(i, j)"
           (click)="setPulses(j);$event.stopPropagation()">{{j}}</div>
    </div>
  </div>
  <div class="strip" *ngFor="let soundName of grid.soundNames">
    <div *ngFor="let key of grid.keysBySound[soundName]; let i = index" class="beat"
         [label]="key" [beat]="i" [pulses]="player.pulses(key)"
         [selected]="player.isSelected(i)"
         [values]="player.values(key)" [cursor]="player.cursor"
         (toggle)="onNote(key, $event)" (mouseenter)="player.select(key);">
    </div>
  </div>
  <div class="overlay" *ngIf="stage.shouldShowCount()">
    <div class="counter" [class.active]="beat.active()" *ngIf="!beat.paused">{{beat.count()}}</div>
  </div>
  <div class="position" *ngIf="stage.shouldShowPosition()"
       [style.left]="(beat.progress() * 100) + '%'"></div>
</div>
