<div class="grid" ngClass="{{stage.scene$ | async | lowercase }}">
  <div class="controls" *ngIf="grid.supportedPulses.length > 1">
    <div class="pulses" *ngFor="let i of transport.counts()"
         [class.selected]="player.isSelected(i)">
      <div class="hint" *ngFor="let j of grid.supportedPulses"
           [class.set]="player.isPulses(i, j)"
           (click)="setPulses(j);$event.stopPropagation()">{{j}}</div>
    </div>
  </div>
  <div class="strip" *ngFor="let soundName of grid.soundNames">
    <div class="beat" *ngFor="let key of grid.keysBySound[soundName]; let i = index"
         [key]="key" [beat]="i" [pulses]="player.pulses(key)"
         (mouseenter)="player.select(key);">
    </div>
  </div>
  <div class="overlay" *ngIf="stage.showCount">
    <div class="counter" [class.active]="transport.active()" *ngIf="!transport.paused">
      {{transport.count()}}
    </div>
  </div>
  <div class="position" *ngIf="stage.showPosition"
       [style.left]="(transport.progress() * 100) + '%'"></div>
</div>
