@require '../../variables';
@require '../../colors';
@require '../../note';

.content, .footer
  margin: 3vw content-side-margin;

.container
  display: inline-block;
  margin: 10px;

.beat
  display: inline-block;
  position: relative;
  height: 20vh;
  max-height: 20vw;
  width: @max-height;
  max-width: @height;
  transition: all 250ms ease-in-out;

  &.blue
    background-color: active-blue;;

  &.green
    background-color: back-green;

.pulse
  position: absolute;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  &.fx .note
    background-color: transparent;
    opacity: 0;
    position: relative;

    &:before, &:after
      border-radius: 50%;
      content: '';
      position: absolute;

.note
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;

  height: 16vh;
  width: 16vw;
  max-height: 16vw;
  max-width: 16vh;

  &:hover
    color: white;

.active.container
  .actual.pulse .note
    animation: actual 250ms;

  .fx.pulse .note
    &.kick
      animation: kick;

      &:before
        box-shadow: 0 0 15px 3px alpha-blue-dark;

    &.snare
      animation: snare;

      &:before, &:after
        star-background();

    &:before
      left: 7%;
      top: @left;
      bottom: @left;
      right: @left;

    &:after
      box-shadow: 0 0 20px 4px alpha-blue-dark;
      left: 15%;
      top: @left;
      bottom: @left;
      right: @left;

