mixin beat(type)
  .container([class.active]="active === '" + type + "'")
    h3= type[0].toUpperCase() + type.substr(1)
    .beat([ngClass]="background")
      .fx.pulse
        .note(class=type, [style.animationDuration]="duration")
      .actual.pulse
        .note([style.animationDuration]="duration", (mousedown)="onNoteDown('" + type + "')", (mouseup)="onNoteUp()")

.content
  .container([class.active]="active")
    .beat([ngClass]="background", (click)="onBackground()")
      .fx.pulse
        .note([ngClass]="active", [style.animationDuration]="duration")
  +beat('kick')
  +beat('snare')

.footer
  input(type="text", [(ngModel)]="duration")
