.lesson-container([class.fade]="lesson.stage !== undefined")
  .stage(*ngFor="let stage of lesson.stages; let i = index",
      (click)="onStage(i)", [class.completed]="lesson.completed(i)")
.surface-container(*ngIf="lesson.stage !== undefined")
  //bouncing-ball
  .surface(*ngFor="let surface of lesson.surfaces")
    .controls
      .goal.button((click)="onGoal()")
      .spacer
      .play.button((click)="onPlayback()")
    html-grid(*ngIf="isGrid(surface)", [grid]="surface")
  .back((click)="onStage()") &larr;
stage-panel([class.fade]="lesson.stage === undefined")

