bottom-size = 20vh;
button-height = 60px;
button-padding = 10px;
button-shadow-size = 4px;
button-shadow = 0 button-shadow-size 0 #000;
weenie-shadow = 0 button-shadow-size 3px #555;
primary-blue = #008FFF;
primary-green = #50FFA0;
primary-red = #FF6e56;

.fade
  filter: blur(5px);
  opacity: 0.2;

.lesson-container
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: scale(1) translateY(0)
  transition-duration: 150ms;

  &.fade
    transform: scale(.5) translateY(30vh)

  .stage
    background-color: primary-blue;
    display: inline-block;
    cursor: pointer;
    height: 8vw;
    width: 20vw;
    margin: 5px;

    &.completed
      background-color: primary-green;
      cursor: not-allowed;

  .again
    position: absolute;
    background-color: primary-blue;
    cursor: pointer;
    font-size: 15vh;
    padding: 30px;

.surface-container
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: bottom-size;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;

bouncing-ball
  height: 20vh;
  margin: 0 auto;
  width: 80vw;
  max-width: 80vh;

.surface
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  margin: 2px 0;
  position: relative;

.controls
  margin: 10px;

  .goal.button
    background-color: primary-blue;
    border-radius: 50%;
    display: flex;

    img
      height: (2 / 3) * button-height;
      margin: auto;

  .play
    width: 0;
    height: 0;
    border-top: (button-height / 2) solid transparent;
    border-left: button-height solid primary-green;
    border-bottom: (button-height / 2) solid transparent;

  .button
    display: block;

  .spacer
    height: 5vh;

stage-panel
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: bottom-size;

.button
  cursor: pointer;
  display: inline-block;
  height: button-height;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  user-select: none;
  vertical-align: top;
  width: button-height;

  &:hover:not(:active)
    margin-top: - button-shadow-size;
    margin-bottom: button-shadow-size;
    filter: drop-shadow(button-shadow);

.back
  background-color: #DDD;
  cursor: pointer;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  font-size: 48px;
  padding: 10px;
  text-align: center;

.weenie:not(:hover), .weenie.on-hover
  animation: weenie 1s infinite;

@keyframes weenie
  0%, 100%
    transform: translateY(0)
    filter: drop-shadow(0);
    opacity: 1;
  50%
    transform: translateY(- button-shadow-size)
    filter: drop-shadow(weenie-shadow);
    opacity: 0.9;
