.container
  .notes
    .info(*ngIf="stage.goalNotes")
      .note
      | =
      .note-count([ngClass]="{over: player.noteCount > stage.goalNotes}") {{player.noteCount}}
      | /{{stage.goalNotes}}
  .round
    .info(*ngIf="!stage.isDemo && !stage.isLoop") Stage {{lesson.stage + 1}}
  .tempo
    .metronome
      .arm([class.active]="!transport.paused")
    .info ={{transport.bpm}}
