.container
  background-color: #EEE;
  height: 100%;
  padding: 2vw 10vw;
  text-align: center;

.info
  display: flex;
  font-size: 5vw;
  justify-content: space-around;

  .note
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    height: 5vw;
    margin-right: 1vw;
    vertical-align: top;
    width: 5vw;

