@require '../variables';
@require '../colors';

img.logo
  margin: 1vw 3vw;
  position: absolute;
  width: 7vw;
  height: 7vw;

h1
  color: main-blue;

.menu
  background-color: main-blue;
  display: block;
  height: 48px;
  padding: 0 1vw 0 content-side-margin;

  a
    display: inline-block;
    color: #ccc;
    font-size: 16px;
    line-height: 48px;
    margin-right: 50px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    &.active-link
      font-weight: 800;
