@require '../../variables';

.content
  margin: 3vw content-side-margin;
  position: relative;

  .button
    background-color: main-blue;
    border-radius: 50%;
    color: main-blue;
    font-size: 1em;
    text-decoration: none;
    margin: -1vw -5vw;
    padding: 1vw;
    position: absolute;
    height: 2vw;
    width: 2vw;
    text-align: center;

    &:hover
      color: white;
