<div class="grid" [ngClass]="gridClass()" (mouseleave)="player.unselect()">
  <div class="strip-container">
    <div class="strip" *ngFor="let key of grid.keys">
      <div *ngFor="let pulses of grid.pulsesByBeat; let i = index" class="beat"
           [label]="key" [beat]="i" [pulses]="pulsesFor(i)"
           [values]="player.values(key, i)" [cursor]="player.cursor"
           (toggle)="player.toggle(key, $event)" (enter)="player.select(key, $event);">
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="stage.shouldShowCount()">
    <div class="counter" [class.active]="transport.active()" *ngIf="!transport.paused">
      {{transport.count()}}
    </div>
  </div>
  <div class="position" *ngIf="stage.shouldShowPosition()"
       [style.left]="(transport.progress() * 100) + '%'"></div>
  <div class="cursor"></div>
</div>
