:host {
  align-items: center;
  background-color: #008FFF;
  display: inline-flex;
  flex: 1;
  height: 240px;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 25%;
}

:host(.selected) .controls {
  opacity: 1;

  transition: opacity 350ms ease-in-out;

  .subdivisions {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

:host-context(.goal) :host(.selected) .controls {
  opacity: 0;
}

.controls {
  align-items: center;
  display: inline-flex;
  flex: 1;
  height: 100%;
  opacity: 0;
  position: absolute;
  // Set transition to see artifact described in beat.component WTF
  transition: opacity 0ms ease-in-out;
  width: 100%;

  .hint {
    background-color: rgba(255,255,255,0.1);
    border-radius: 40%;
    cursor: pointer;
    font-size: 30px;
    margin: 5px;
    padding: 5px;
  }

  .subdivisions {
    display: inline-flex;
    flex: 1;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 150ms ease-in-out;
    transition-delay: 350ms;
    transform: translateY(-10px) scale(1.3);
    width: 100%;

    .hint {
      width: 20%;
      transition: background-color 150ms ease-in-out;

      &:hover {
        background-color: rgba(255,255,255,0.5);
      }
    }
  }

  .quarter {
    background-color: rgba(0,0,0,0.1);
    color: rgba(0, 0, 0, 0.5);
    font-size: 100px;
    line-height: 180px;
    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: rgba(0,0,0,0.3);
    }
  }
}

.quarter {
  background-color: #000;
  height: 80%;
  margin: auto;
  width: 80%;
}

.note {
  border-radius: 50%;
  cursor: pointer;
}

:host-context(.demo) .note, :host-context(.play) :host(.current) .note {
  animation: active;
  animation-duration: 250ms;
}

@keyframes active {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(1.1);
  }

  66% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
