<div class="grid" ngClass="{{stage.stateName() | lowercase }}">
  <div class="strip" *ngFor="let soundName of grid.soundNames; let i = index">
    <div *ngFor="let key of grid.shortcutKeysBySound[soundName]; let j = index" class="beat"
         [ngClass]="{current: beat.current(j), selected: player.selected === key}"
         [pulsesRange]="[1]" [key]="key">
    </div>
  </div>
  <div class="overlay" *ngIf="stage.shouldShowCount()">
    <div class="counter" *ngIf="!beat.paused">{{beat.count()}}</div>
  </div>
  <div class="position" *ngIf="stage.shouldShowPosition()" [style.left]="(beat.progress() * 100) + '%'"></div>
</div>
