:host {
  align-items: center;
  background-color: #008FFF;
  display: inline-flex;
  flex: 1;
  height: 240px;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 25%;
}

:host(.current) {
  background-color: #009FFF;
}

:host(.selected) .controls {
  opacity: 1;

  transition: opacity 350ms ease-in-out;

  .pulses {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

:host-context(.goal) :host(.selected) .controls {
  opacity: 0;
}

.controls {
  align-items: center;
  display: inline-flex;
  flex: 1;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 150ms ease-in-out;
  width: 100%;

  .hint {
    background-color: rgba(255,255,255,0.1);
    border-radius: 40%;
    cursor: pointer;
    font-size: 30px;
    margin: 5px;
    padding: 5px;
  }

  .pulses {
    display: inline-flex;
    flex: 1;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 150ms ease-in-out;
    transition-delay: 350ms;
    transform: translateY(-10px) scale(1.3);
    width: 100%;

    .hint {
      width: 20%;
      transition: background-color 150ms ease-in-out;

      &:hover {
        background-color: rgba(255,255,255,0.5);
      }
    }
  }

  .quarter {
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.5);
    font-size: 100px;
    line-height: 180px;
  }

  .note {
    transform: scale(0.9);
    transition: all 150ms ease-in-out;

    :not:host(.current) & {
      transition: none;
    }
  }
}

.quarter {
  background-color: #000;
  height: 80%;
  margin: auto;
  width: 80%;
}

:host(.selected) .note {
  background-color: rgba(0,0,0,0.1);
  position: relative;

  &:hover {
    background-color: rgba(0,0,0,0.3);
  }

  &.on {
    background-color: rgba(0,0,0,1);
    transform: scale(1);

    &:hover {
      background-color: rgba(0,0,0,0.8);
    }

    &.cursor {
      color: rgba(255,255,255,0.5);

      &:after {
        content: '';
        background-color: rgba(255,255,255,0.5);
        bottom: 20%;
        font-size: 10px;
        height: 10px;
        left: 25%;
        line-height: 10px;
        position: absolute;
        text-align: center;
        width: 50%;
      }
    }
  }
}

:host(.selected) .quarter.on:hover:after {
  content: 'space';
  color: #000;
}

.note {
  border-radius: 50%;
  cursor: pointer;
}

:host-context(.demo) .note, :host(.current) .note {
  animation: active;
  animation-duration: 250ms;

  &.on {
    background-color: rgba(0,0,0,1);
  }
}

:host(.current) .controls .note {
  animation: none;

  &.on {
    opacity: 0.1;
  }
}

@keyframes active {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(1.1);
  }

  66% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
