// using Modernizer CSS classes to detect if browser supports the W3C Touch Events API
:host-context(.mod-touchevents) [md-button]:hover::after, [md-icon-button]:hover::after {
    content: none;
}

h1 {
  color: #1777CB;
}

.menu {
  background-color: #1777CB;
  display: block;
  height: 48px;
  padding: 0 16px 0 120px;

  a {
    display: inline-block;
    color: #ccc;
    font-size: 16px;
    line-height: 48px;
    margin-right: 50px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    &.active-link {
      font-weight: 800;
    }
  }
}

