/* main.css will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

header {
  margin: 20px 120px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $primary-font;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-top: 14px;
  margin-bottom: 4px;
}

h3 {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}
