.ball-container
  .ball(*ngIf="ball", [class.active]="ball.active",
    [style.left]="left",
    [style.animation-duration]="animationDuration",
    [style.animation-delay]="animationDelay",
    [style.transition-duration]="transitionDuration",
    [style.transition-delay]="transitionDelay")
