.ball-container
  .ball([ngClass]="{active: active, calibrate: !transport.paused}",
    [style.left]="left",
    [style.animation-duration]="animationDuration",
    [style.animation-delay]="animationDelay",
    [style.transition-duration]="transitionDuration",
    [style.transition-delay]="transitionDelay")
