.container
  .notes
    .note
    .info([class.wrong]="stage.isPlayback ? player.noteCount !== stage.goalNotes " +
        ": player.noteCount > stage.goalNotes")
      | {{player.noteCount}}
    span(*ngIf="stage.goalNotes",
        [class.wrong]="stage.isPlayback && player.noteCount !== stage.goalNotes") /
    .info([class.wrong]="stage.isPlayback && player.noteCount !== stage.goalNotes") {{stage.goalNotes}}
    .info(*ngIf="!stage.goalNotes") &nbsp;&nbsp;
  .tempo(*ngIf="false")
    .metronome
      .arm([class.active]="!transport.paused")
    .info {{transport.bpm}}
