.container
  position: relative;
  background-color: #008FFF;
  border-radius: 50%;
  height: 60px;

.hollow.container
  border: solid 6px #008FFF;
  background-color: #FFF;
  height: 54px;
  width: 54px;

img, .stop
  position: absolute;
  top: 0;
  left: 0;

img
  height: 40px;
  width: 40px;
  margin: 10px;

.stop
  height: 30px;
  width: 30px;
  margin: 15px;
  background-color: white;
