.container(*ngIf="show")
  .fx(*ngFor="let note of notes", [ngClass]="note.fxClass", [@show]="")
    .tilt([style.transform]="note.tiltTransform")
      .scale([style.transform]="note.scaleTransform")
        .note([ngClass]="note.noteClass")
          .shadow([style.height]="note.shadowHeight")
  .counts(*ngIf="showCounts", (click)="resetCounts()")
    span {{ playCount }}
    span  {{ drawCount }}
    span.diff(*ngIf="playCount !== drawCount && playCount - drawCount > playNotes")
      | ({{ drawCount - playCount }})
    span([ngClass]="{diff: activeNotes < 0}")  {{ undrawCount }}
      | {{activeNotes < 0 ? '' : '+'}}{{ activeNotes }}
