<h1 class="center">{{grid.stateName()}}</h1>
<div class="grid" ngClass="{{grid.stateName() | lowercase }}">
  <div class="strip" *ngFor="let strip of grid.gridValues; let i = index">
    <div class="beat" *ngFor="let beatState of strip; let j = index"
         (click)="setBeatState(i, j)">
      <div class="quarter" *ngIf="beatState === 1"></div>
    </div>
  </div>
  <div class="overlay" *ngIf="grid.showCount()">
    <div class="counter">{{grid.beat}}</div>
  </div>
  <div class="position" *ngIf="grid.showPosition()" [style.left]="(gridLoop.progress * 100) + '%'"></div>
</div>
<div class="info">
  Round: {{grid.round}}
  Beat: {{grid.beat}}
  NextState: {{grid.nextState}}
  GoalNotes: {{grid.numGoalNotes}}
</div>
