.surface-container
  bouncing-ball
  .surface(*ngFor="let surface of lesson.surfaces; let i = index")
    html-grid(*ngIf="isGrid(surface)", [grid]="surface")
  .controls
    .start.button(*ngIf="transport.paused || stage.isLoop", [@weenie]="weenieStart",
        (click)="onStart()") Enter
    .stop.button(*ngIf="!transport.paused", (click)="onStop()") Stop
    .listen.button([ngClass]="listenClass$ | async", (click)="onListen()")
      img(src="/assets/listen-music-128.png", alt="Listen!")
stage-panel
