router-outlet((activate)="activateEvent($event)", (deactivate)="deactivateEvent($event)")
.menu
  a.home(href="/")
    img.logo(src="assets/Logo.png")
    .text Home
.console
  .contents
  input.input
