.content
  h3
    .button((click)="onSound('kick')")
    | Kick
  h3
    .button((click)="onSound('snare')")
    | Snare
  h3
    .button((click)="onSound('click')")
    | Click
  h3
    .button((click)="onSound('cowbell')")
    | Cowbell

