@require '../../variables';
@require '../../button';
@require '../../colors';

h3
  line-height: 4vw;
  margin: 10px 0;

.content
  margin: 3vw content-side-margin;
  position: relative;

  .button
    border-radius: 50%;
    position: absolute;
    height: 2vw;
    width: 2vw;
    margin-left: -5vw;
    padding: 1vw;
    background-color: main-blue;
    font-size: 1em;
    line-height: 1em;

    &:hover
      margin-top: -1 button-shadow-size;
