primary-blue = #008FFF;
primary-green = #50FFA0;
primary-red = #FF6e56;

fx-blue = #00AFFF;
active-blue = #009FFF;
main-blue = #008FFF;
back-blue = #007FFF;
active-green = #50FFA0;
main-green = #50EFA0;
back-green = #50DFA0;
faint-grey = #EEE;
active-grey = #999;
main-grey = #888;
back-grey = #777;
dark-grey = #444;

alpha-blue-dark = alpha(lightness(active-blue, 20%), 0.5);
alpha-blue-light = alpha(lightness(active-blue, 80%), 0.5);
alpha-white = alpha(white, 0.5);
