@require 'colors';

star-background(mult = 1)
  background-image:
    radial-gradient(1px 1px at mult * 2px mult * 3px, darken(#eee, mult * 2), rgba(0,0,0,0)),
    radial-gradient(2px 2px at mult * 4px mult * 7px, darken(#ccc, mult * 2), rgba(0,0,0,0)),
    radial-gradient(3px 3px at mult * 5px mult * 16px, darken(#ddd, mult * 2), rgba(0,0,0,0)),
    radial-gradient(2px 2px at mult * 9px mult * 4px, darken(#eee, mult * 2), rgba(0,0,0,0)),
    radial-gradient(3px 3px at mult * 13px mult * 1px, darken(#ccc, mult * 2), rgba(0,0,0,0)),
    radial-gradient(4px 4px at mult * 16px mult * 12px, darken(#ddd, mult * 2), rgba(0,0,0,0));
  background-repeat: repeat space;
  background-size: mult * 20px mult * 20px;

@keyframes actual
  0%
    transform: scale(1);

  40%
    transform: scale(1.1);

  70%
    transform: scale(0.9);

  100%
    transform: scale(1);

@keyframes kick
  0%
    box-shadow: 0 0 5px 0 alpha-blue-light, inset 0 0 150px 0px alpha-blue-light;
    opacity: 1;
    transform: scale(1);

  50%
    opacity: .7;

  100%
    box-shadow: 0 0 100px 50px alpha-blue-light, inset 0 0 150px 50px alpha-blue-light;
    opacity: 0;
    transform: scale(2);

@keyframes snare
  0%
    box-shadow: 0 0 5px 0 alpha-blue-light, inset 0 0 150px 0px alpha-blue-light;
    opacity: 0;
    transform: scale(1);

  30%
    opacity: .7;

  100%
    box-shadow: 0 0 100px 50px alpha-blue-light, inset 0 0 150px 50px alpha-blue-light;
    opacity: 0;
    transform: scale(2.5);
