/* styles.css will be extracted to main dist folder and is imported in index.html */
/* This file is for importing 3rd party styles  */

@import 'variables';

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
}

pre {
  font-family: $primary-font;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 0;
}

a {
  font-weight: 500;
}

blockquote {
  font-family: $primary-font;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.35;
  letter-spacing: 0.08em;
}

blockquote:before {
  position: absolute;
  left: -0.5em;
  content: '“';
}

blockquote:after {
  content: '”';
  margin-left: -0.05em;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

address {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  font-style: normal;
}

ul, ol {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}
