.container {
  background-color: #EEE;
  margin: auto;
  padding: 20px;
  position: relative;
  width: 1000px;
  text-align: center;
}

.start, .pause {
  background-color: rgba(255,255,255,0.9);
  border: solid 1px #000;
  color: #888;
  cursor: pointer;
  padding: 25px;
  text-align: center;
  user-select: none;

  &:hover {
    color: #000;
  }
}

.start {
  font-size: 100px;
}

.pause {
  font-size: 20px;
}

.info {
  text-align: center;
}
